TOETAP_DB_HOST=localhost
TOETAP_DB_NAME=tapsole_v0
TOETAP_DB_USER=root
TOETAP_DB_PASS=
STRAVA_CLIENT_ID=PUT_CLIENT_ID_HERE
STRAVA_CLIENT_SECRET=PUT_CLIENT_SECRET_HERE
STRAVA_REDIRECT_URI=https://app.toetap.run/tapsole/strava/callback.php
